/* Colors */
/* Typography */
/* line 4, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/* Buttons */
/* line 9, ../sass/style.scss */
.btn {
  border-radius: 0;
}

/* line 13, ../sass/style.scss */
.btn-main {
  background: transparent;
  border: 1px solid #33B8FF;
  color: #000;
  transition: all .5s ease;
}
/* line 18, ../sass/style.scss */
.btn-main:hover {
  background: #33B8FF;
}

/* Site Global */
/* line 23, ../sass/style.scss */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 29, ../sass/style.scss */
.navbar {
  margin-bottom: 0;
  background: #33B8FF;
  border: none;
  border-radius: 0;
  padding: 10px;
}
/* line 37, ../sass/style.scss */
.navbar .navbar-brand {
  color: #fff;
  -ms-transform: rotate(-4deg);
  /* IE 9 */
  -webkit-transform: rotate(-4deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-4deg);
}

/* line 45, ../sass/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  padding-left: 0;
}

/* line 52, ../sass/style.scss */
.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/ui/intro.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 62, ../sass/style.scss */
.intro .intro-text {
  width: 50%;
}
/* line 64, ../sass/style.scss */
.intro .intro-text h1 {
  color: #fff;
  font-family: 'Special Elite', cursive;
  font-size: 5rem;
  margin-bottom: 10px;
}
/* line 70, ../sass/style.scss */
.intro .intro-text p {
  color: #ccc;
  text-align: center;
  font-family: 'Tillana', cursive;
  font-size: 2rem;
}
/* line 77, ../sass/style.scss */
.intro .intro-text .btn-intro {
  border-radius: 0;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  margin: auto;
  display: block;
  width: 40%;
  margin-top: 20px;
  transition: all .5s ease;
  padding: 15px;
}
/* line 90, ../sass/style.scss */
.intro .intro-text .btn-intro:hover {
  background: #fff;
  color: #000;
}

/* Main Content */
/* line 99, ../sass/style.scss */
.main-content {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Articles */
/* line 106, ../sass/style.scss */
.articles {
  overflow: hidden;
  /* just clearing floats */
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 116, ../sass/style.scss */
.articles .article-container {
  box-sizing: border-box;
  padding: 0 5px;
  width: 50%;
  /* 2 items per row */
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
/* line 125, ../sass/style.scss */
.articles .article-container article {
  box-shadow: 0 0 1px #333 inset;
}
/* line 127, ../sass/style.scss */
.articles .article-container article .article-text {
  padding: 5px;
}
/* line 129, ../sass/style.scss */
.articles .article-container article .article-text .article-h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 6px;
}
/* line 133, ../sass/style.scss */
.articles .article-container article .article-text p {
  text-align: justify;
}
/* line 136, ../sass/style.scss */
.articles .article-container article .article-text a {
  display: block;
  margin: auto;
}

/* line 145, ../sass/style.scss */
.article-preview {
  box-sizing: border-box;
  box-shadow: 0 0 2px #333;
  padding: 15px;
  margin-bottom: 5px;
}

/* Main Footer */
/* line 153, ../sass/style.scss */
.main-footer {
  background: #33B8FF;
  color: #fff;
  padding: 15px;
}
/* line 158, ../sass/style.scss */
.main-footer .copyright {
  font-weight: bold;
}

/* Sidebar */
/* line 164, ../sass/style.scss */
.sidebar {
  padding: 0;
  min-height: 100vh;
}
/* line 169, ../sass/style.scss */
.sidebar section .book, .sidebar section .friend {
  margin-bottom: 5px;
}

/* Helper Classes */
/* line 178, ../sass/style.scss */
.hr-line {
  width: 35%;
  color: #fff;
  display: block;
  margin: auto;
  height: 2px;
  margin-bottom: 10px;
}

/* line 187, ../sass/style.scss */
.full-width {
  width: 100%;
  height: auto;
}

/* line 192, ../sass/style.scss */
.section-h2 {
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 4px solid #33B8FF;
  padding-bottom: 6px;
}
