/* Colors */
/* Typography */
/* line 4, ../sass/style.scss */
body {
  font-family: 'Droid Sans', sans-serif;
}

/* line 7, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/* Buttons */
/* line 13, ../sass/style.scss */
.btn {
  border-radius: 0;
}

/* line 17, ../sass/style.scss */
.btn-main {
  background: transparent;
  border: 1px solid #33B8FF;
  color: #000;
  transition: all .5s ease;
}
/* line 22, ../sass/style.scss */
.btn-main:hover {
  background: #33B8FF;
}

/* line 27, ../sass/style.scss */
.btn-white-color {
  color: #fff;
}
/* line 29, ../sass/style.scss */
.btn-white-color:hover {
  color: #fff;
}

/* Site Global */
/* line 34, ../sass/style.scss */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 40, ../sass/style.scss */
.navbar {
  margin-bottom: 0;
  background: #33B8FF;
  border: none;
  border-radius: 0;
  padding: 15px;
}
/* line 48, ../sass/style.scss */
.navbar .navbar-brand {
  color: #fff;
  -ms-transform: rotate(-7deg);
  /* IE 9 */
  -webkit-transform: rotate(-7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  padding: 0;
  margin-right: 10px;
  position: relative;
  top: -14px;
}

/* line 60, ../sass/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
}

/* line 65, ../sass/style.scss */
.navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  margin: 0;
  left: -1px;
  padding: 0;
  min-width: 250px;
}
/* line 72, ../sass/style.scss */
.navbar-nav > li > .dropdown-menu a {
  padding: 15px;
  margin: 0;
}
/* line 75, ../sass/style.scss */
.navbar-nav > li > .dropdown-menu a:hover {
  background: #33B8FF;
  color: #fff;
}

/* line 82, ../sass/style.scss */
.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/ui/intro.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 92, ../sass/style.scss */
.intro .intro-text {
  width: 50%;
}
/* line 94, ../sass/style.scss */
.intro .intro-text h1 {
  color: #fff;
  font-family: 'Alex Brush', cursive;
  font-size: 6rem;
  margin-bottom: 10px;
}
/* line 100, ../sass/style.scss */
.intro .intro-text p {
  color: #ccc;
  text-align: center;
  font-family: 'Tillana', cursive;
  font-size: 2rem;
}
/* line 107, ../sass/style.scss */
.intro .intro-text .btn-intro {
  border-radius: 0;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  margin: auto;
  display: block;
  width: 40%;
  margin-top: 20px;
  transition: all .5s ease;
  padding: 15px;
}
/* line 119, ../sass/style.scss */
.intro .intro-text .btn-intro:hover {
  background: #33B8FF;
  color: #fff;
  border: 1px solid #33B8FF;
}

/* Main Content */
/* line 129, ../sass/style.scss */
.main-content {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Articles */
/* line 136, ../sass/style.scss */
.articles {
  overflow: hidden;
  /* just clearing floats */
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 146, ../sass/style.scss */
.articles .article-container {
  box-sizing: border-box;
  padding: 0 5px;
  width: 50%;
  /* 2 items per row */
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
/* line 155, ../sass/style.scss */
.articles .article-container article {
  box-shadow: 0 0 1px #333 inset;
}
/* line 157, ../sass/style.scss */
.articles .article-container article .article-text {
  padding: 10px;
}
/* line 159, ../sass/style.scss */
.articles .article-container article .article-text .article-h2 {
  margin-bottom: 6px;
}
/* line 162, ../sass/style.scss */
.articles .article-container article .article-text p {
  text-align: justify;
}
/* line 165, ../sass/style.scss */
.articles .article-container article .article-text a {
  display: block;
  font-weight: bold;
  width: 50%;
  padding: 10px;
}

/* line 176, ../sass/style.scss */
.article-preview {
  box-sizing: border-box;
  box-shadow: 0 0 2px #333;
  padding: 15px;
  margin-bottom: 5px;
}

/* Main Footer */
/* line 184, ../sass/style.scss */
.main-footer {
  background: #33B8FF;
  color: #fff;
  padding: 15px;
}
/* line 189, ../sass/style.scss */
.main-footer .copyright {
  font-weight: bold;
}

/* Sidebar */
/* line 195, ../sass/style.scss */
.sidebar {
  padding: 0;
  min-height: 100vh;
}
/* line 199, ../sass/style.scss */
.sidebar section {
  margin-bottom: 30px;
}
/* line 201, ../sass/style.scss */
.sidebar section .book, .sidebar section .friend {
  margin-bottom: 5px;
}

/* Quotes */
/* line 208, ../sass/style.scss */
#quotes {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/ui/quotes.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 220, ../sass/style.scss */
.quotes-h2 {
  color: #fff;
}

/* line 224, ../sass/style.scss */
.ts-testimonial-slide {
  padding: 30px;
  text-align: center;
  color: #fff;
  width: 85%;
  margin: 0 auto;
}

/* line 231, ../sass/style.scss */
.ts-testimonial-slide p {
  font-size: 2rem;
  line-height: 36px;
  font-style: italic;
  font-family: 'Tillana', cursive;
  margin-bottom: 35px;
}

/* line 238, ../sass/style.scss */
.ts-testimonial-slide .ts-testimonial-item {
  margin-bottom: 15px;
}

/* line 242, ../sass/style.scss */
.ts-testimonial-slide .ts-testimonial-item .infor-client {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

/* line 247, ../sass/style.scss */
.ts-testimonial-slide .ts-testimonial-item .client-name {
  padding-left: 38px;
  font-size: 12.8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Droid Sans', sans-serif;
  display: block;
  line-height: normal;
  white-space: nowrap;
}

/* line 257, ../sass/style.scss */
.ts-testimonial-slide .ts-testimonial-item .client-position {
  font-size: 12px;
  font-style: italic;
  line-height: normal;
  padding-left: 38px;
  display: block;
  text-align: left;
}

/* Helper Classes */
/* line 269, ../sass/style.scss */
.hr-line {
  width: 35%;
  color: #fff;
  display: block;
  margin: auto;
  height: 2px;
  margin-bottom: 10px;
}

/* line 278, ../sass/style.scss */
.full-width {
  width: 100%;
  height: auto;
}

/* line 283, ../sass/style.scss */
.section-h2 {
  margin-bottom: 5px;
  border-bottom: 4px solid #33B8FF;
  padding-bottom: 6px;
  font-weight: bold;
}
