@import 'partials/variables';

/* Typography */
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}
/* Buttons */
.btn {
  border-radius: 0;
}

.btn-main {
  background: transparent;
  border: 1px solid #33B8FF;
  color: #000;
  transition: all .5s ease;
  &:hover {
    background: #33B8FF;
  }
}
/* Site Global */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  margin-bottom: 0;
  background: $blue-brand;

  border: none;
  border-radius: 0;
  padding: 10px;

  .navbar-brand {
    color: #fff;
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
  }
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  padding-left: 0;
}

.intro {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/ui/intro.jpg');
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .intro-text {
    width: 50%;
    h1 {
      color: #fff;
      font-family: 'Alex Brush', cursive;
      font-size: 6rem;
      margin-bottom:10px;
    }
    p {
      color: #ccc;
      text-align: center;
      font-family: 'Tillana', cursive;
      font-size: 2rem;
    }

    .btn-intro {
      border-radius: 0;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-weight: bold;
      font-family: 'Special Elite', cursive;
      margin: auto;
      display: block;
      width: 40%;
      margin-top: 20px;
      transition: all .5s ease;
      padding:15px;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

/* Main Content */
.main-content {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Articles */
.articles {
  overflow: hidden; /* just clearing floats */
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .article-container {
    box-sizing: border-box;
    padding: 0 5px;
    width: 50%; /* 2 items per row */
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    article {
      box-shadow: 0 0 1px #333 inset;
      .article-text {
        padding: 5px;
        .article-h2 {
          font-family: 'Special Elite', cursive;
          margin-bottom: 6px;
        }
        p {
          text-align: justify;
        }
        a {
          display: block;
          margin: auto;
          font-family: 'Special Elite', cursive;
        }
      }
    }
  }
}

.article-preview {
  box-sizing: border-box;
  box-shadow: 0 0 2px #333;
  padding: 15px;
  margin-bottom: 5px;
}

/* Main Footer */
.main-footer {
  background: $blue-brand;
  color: $white;
  padding: 15px;

  .copyright {
    font-weight: bold;
  }
}

/* Sidebar */
.sidebar {
  padding:0;
  min-height: 100vh;

  section {
    .book, .friend {
      margin-bottom: 5px;
    }
  }
}



/* Helper Classes */
.hr-line {
  width: 35%;
  color: #fff;
  display: block;
  margin: auto;
  height:2px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
  height: auto;
}

.section-h2 {
  margin-bottom: 5px;
  font-family: 'Special Elite', cursive;
  border-bottom: 4px solid $blue-brand;
  padding-bottom: 6px;
}
